/* .file-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: red;
    padding :5rem;
    margin:1rem;
} */

/* .dots{
    position: absolute;
    top:5px;
    right: 5px;
}
.dots :hover{
    cursor: pointer;
    color: aqua;
} */

